<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <style>
        /* CSS styles */
        body {
          font-family: Arial, sans-serif;
          background-color: #f5f5f5;
          margin: 0;
          padding: 0;
        }
    
        .container {
          max-width: 600px;
          margin: 50px auto;
          background-color: #fff;
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    
        h1 {
          text-align: center;
        }
    
        form {
          margin-top: 20px;
        }
    
        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }
    
        input[type="text"],
        input[type="number"] {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-bottom: 10px;
        }
    
        input[type="submit"] {
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 16px;
        }
    
    
        .response-area {
          margin-top: 20px;
          background-color: #f0f0f0;
    
          padding: 20px 5px;
        }
    
        #get {
          background-color: #2ecc71;
        }
    
        #get:hover {
          background-color: #27ae60;
        }
    
        #post {
          background-color: #3498db;
        }
    
        #post:hover {
          background-color: #2980b9;
        }
    
        #put {
          background-color: #9b59b6;
        }
    
        #put:hover {
          background-color: #8e44ad;
        }
    
        #patch {
          background-color: #f1c40f;
        }
    
        #patch:hover {
          background-color: #f39c12;
        }
    
        #delete {
          background-color: #e74c3c;
        }
    
        #delete:hover {
          background-color: #c0392b;
        }
      </style>
    <div class="container">
        <h1>CRUD</h1>
        <div class="response-area">
            <p>
                <%=content%>
             
            </p>
          </div>
        <form id="myform" method="post">
            <label for="idInput">Id:</label>
            <input type="text" id="idInput" name="id">

            <label for="nameInput">name:</label>
            <input type="text" name="name" id="nameInput">
<!-- 
            <label for="emailInput">email:</label>
            <input type="email" name="email" id="emailInput"> -->

            <label for="companyInput">Company:</label>
            <input type="text" name="company" id="companyInput">

            <label for="submit">Route:</label>
            <input type="submit" id="get" value="GET" formaction="/get-details">
            <input type="submit" id="post" value="POST" formaction="/post-details">
            <input type="submit" id="put" value="PUT" formaction="/put-details">
            <input type="submit"  id="patch" value="PATCH" formaction="/patch-details">
            <input type="submit"  id="delete"  value="DELETE" formaction="/delete-details">
        </form>


    </div>
    
</body>
</html>